body,html{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Verdana;
}
*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor:default;
    font-family: "Source Sans Pro", sans-serif, arial, helvetica;
    box-sizing: border-box;
}
body{
    background: url(../img/bg.png) repeat;
    padding:170px 0;
}
.ribbon-mixin {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    display: block;
    left: -30px;
    top: 10px;
}

button{
    outline:none;
}
header{
    height: 170px;
    margin:0;
    padding:0;
    width:100%;
    min-width: 1000px;
    position:fixed;
    z-index: 10000;
    top:0;
    left:0;
    > div{
        float:left;
    }
    .logo{
        height: 100%;
        padding: 8px 20px;
        cursor:pointer;
        img{
            cursor:pointer;
        }
    }
    .coins{
        width:545px;
        height:170px;
        background: url(../img/coins_bg.png);
    }
}
.masonry-container{
    margin:0 auto;
    .masonry-brick{
        overflow: hidden;
        margin: 10px 0;
        cursor:pointer;
        box-shadow: -1px 1px 12px -2px #000000;
        a{
            .badge-overlay{
                position:absolute;
                top:0;left:0;
                background-size:contain;
                cursor:pointer;
                color:red;
                display: none;
            }
            img.game-thumbnail{
                width:120px;
                height:120px;
                cursor:pointer;
                border:3px solid #F7FFFF;
            }
            .name{
                position:absolute;
                text-transform:uppercase;
                background:rgba(0,0,0,0.75);
                bottom:-100px;
                -webkit-transition: bottom 0.5s ease;
                max-height:60px;
                width:100%;
                text-align: center;
                color:white;
            }
            &:hover{
                .name{
                    bottom:0;
                }
            }
        }
        &.premium {
            .premium-overlay {
                background-color: #C7CF00;
                .ribbon-mixin();

                .ribbon-text {
                    border: 1px solid #F5FF00;
                    color: #fff;
                    display: block;
                    font-weight: 400;
                    margin: 1px 0;
                    padding: 0 30px;
                    text-align: center;
                    text-decoration: none;
                    text-shadow: 0 0 5px #444;
                }
            }
        }
        &.new{
            .new-overlay{
                display:block;
                top:40px;
            }
        }
        &.hot{
            .hot-overlay{
                .ribbon-mixin();
                background-color: #a00;

                .ribbon-text {
                    border: 1px solid #faa;
                    color: #fff;
                    display: block;
                    font-weight: 400;
                    margin: 1px 0;
                    padding: 0 37px;
                    text-align: center;
                    text-decoration: none;
                    text-shadow: 0 0 5px #444;
                    /* background: url(../img/hot200x200.png); */
                }
            }
        }
        &.promoted{
            img.game-thumbnail{
                width:260px;
                height:260px;
            }
            .name{
                font-size:18px;
            }
            &.premium{
                .premium-overlay{
                    /* background: red; */
                    display:block;
                    /* background: url(../img/premium200x200.png); */
                }
            }
            &.new{
                .new-overlay{
                    display:block;
                    /* background: url(../img/new200x200.png); */
                }
            }
            &.hot{
                .hot-overlay{
                    display:block;
                    .ribbon-text {
                        display: block;
                    }
                }
            }
        }
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes counting
{
    0%   {color: white;}
    50% {color: #ffd11e;}
    100%   {color: white;}
}
/* Standard syntax */
@keyframes counting
{
    0%   {color: white;}
    50% {color: #ffd11e;}
    100%   {color: white;}
}
