body,html{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Verdana;
}
*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor:default;
    font-family: "Source Sans Pro", sans-serif, arial, helvetica;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
body{
    background: url(../img/bg.png) repeat;
}
.ribbon-mixin {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    display: block;
    left: -30px;
    top: 10px;
}

button{
    outline:none;
}

.banner{
    margin:150px 50px 30px 50px;

    .bg-banner{
        width: 100%;
        background: url(../img/banner.back.png) repeat;
        height: 114px;
        position:relative;
        -webkit-box-shadow: 1px 0 1px #222, -1px 0 1px #222;
        -moz-box-shadow: 1px 0 1px #222, -1px 0 1px #222;
        box-shadow: 1px 0 1px #222, -1px 0 1px #222;
    }

    .bg-ad {
        width: 728px;
        height: 90px;
        background-color: rgba(237,236,239, 1.2);
        margin:auto;
        position:relative;
        top:12px;
        -webkit-box-shadow: 1px 0 20px #222, -1px 0 20px #222;
        -moz-box-shadow: 1px 0 20px #222, -1px 0 20px #222;
        box-shadow: 1px 0 20px #222, -1px 0 20px #222;
    }
}

header{
    //    height: 110px;
    margin:0;
    padding:30px 20px 30px 50px;
    width:100%;
    position:fixed;
    z-index: 10000;
    top:0;
    left:0;
    background: url(../img/bg.png) repeat;
    opacity:0.95;
    border-top: 10px solid;
    border-color: rgba(137, 184, 242, 0.95);
    > div{
        float:left;
    }
    .logo{
        height: 100%;
        //        padding: 8px 20px;
        cursor:pointer;
        img{
            cursor:pointer;
            max-height:95px;
        }
    }

    .user-info {
        width: 213px;
        height: 60px;
        float: right;
        margin-right: 35px;
        position: relative;
        .details{
            float:left;
            vertical-align: middle;
            width: 150px;
            height: 100%;
            text-align:right;
            .username{
                margin-top:5px;
                font-family: cursive;
                font-size:18px;
                color: white;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.23);
                &.connect {
                    cursor:pointer;
                    margin-top:14px;
                }
            }
            .action {
                cursor:pointer;
                margin-top:2px;
                font-family: cursive;
                font-size:12px;
                color: white;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.23);
                text-decoration: underline;
            }
        }
        .profile-pic {
            margin-top:2px;
            float:right;
            img {
                border-radius:50px;
                width:55px;
                height:55px;
                &.connect {
                    cursor:pointer;
                }
            }

        }
    }

    @keyframes spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }

    #rays	{ /* with animation properties */
        background: url(http://gsjasumberberkat.org/images/rays.png) 0 0 no-repeat;
        background-size: 490px 490px;
        position: fixed;
        top: -125px;
        left: 250px;
        width: 490px;
        height: 490px;
        z-index: 1;

        -webkit-animation-name: spin;
        -webkit-animation-duration: 40000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 40000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 40000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        -o-transition: rotate(3600deg);
    }

    .coins{
        z-index:2;
        left:144px;
        position:absolute;
        * {
            cursor:pointer;
        }
        .coin-container {
            position:absolute;
            left:230px;
            width:220px;
            .top-text {
                font-size: 15px;
                font-family: 'Lobster', cursive;
                color:white;
                position:absolute;
                top:5px;
                left:101px;
            }
            .amount {
                background: rgba(0, 0, 0, 0.2);
                position: absolute;
                top: 24px;
                width: 220px;
                height: 50px;
                border-radius: 10px;
                border: 2px solid rgba(0, 0, 0, 0.05);
                text-align: center;
                font-family: 'Lobster', cursive;

                .coin-img  {
                    position: absolute;
                    left:-20px;
                    top:-15px;

                    img{
                        height:75px;
                    }
                }
                .amount-text{
                    color:white;
                    font-family: 'Lobster', cursive;
                    font-size:35px;
                    padding-left:75px;
                    line-height: 1.25;
                    -moz-transform: matrix( 3.13804168285631,0,0,3.13982968011084,0,0);
                    -webkit-transform: matrix( 3.13804168285631,0,0,3.13982968011084,0,0);
                    -ms-transform: matrix( 3.13804168285631,0,0,3.13982968011084,0,0);

                }
            }
        }
    }
}
.masonry-container{
    margin:0 auto;
    .masonry-brick{
        overflow: hidden;
        margin: 10px 0;
        cursor:pointer;
        box-shadow: -1px 1px 12px -2px #000000;
        -webkit-backface-visibility: hidden;

        &.rotated-right {
            transform: rotate(4deg) ;
            -webkit-transform: rotate(4deg) ;
            -moz-transform: rotate(4deg) ;
            -o-transform: rotate(4deg) ;
            -ms-transform: rotate(4deg) ;
        }
        &.rotated-left {
            transform: rotate(-4deg) ;
            -webkit-transform: rotate(-4deg) ;
            -moz-transform: rotate(-4deg) ;
            -o-transform: rotate(-4deg) ;
            -ms-transform: rotate(-4deg) ;
        }

        a{
            .badge-overlay{
                position:absolute;
                top:0;left:0;
                background-size:contain;
                cursor:pointer;
                color:red;
                display: none;
            }
            img.game-thumbnail{
                width:120px;
                height:120px;
                cursor:pointer;
                border:3px solid #F7FFFF;
            }
            .name{
                -webkit-transition: bottom 0.5s ease;
                background: rgba(0,0,0,0.75);
                text-shadow: 1px 1px 4px rgba(255, 237, 105, 0.61);
                bottom: -100px;
                color: white;
                font-size: 15px;
                max-height: 70px;
                padding: 2px;
                position: absolute;
                text-align: center;
                text-transform: uppercase;
                width: 100%;
            }
            &:hover{
                .name{
                    bottom:0;
                    cursor:pointer;
                }
            }
        }
        &.premium {
            .premium-overlay {
                background-color: #C7CF00;
                .ribbon-mixin();

                .ribbon-text {
                    border: 1px solid #F5FF00;
                    color: #fff;
                    display: block;
                    font-weight: 400;
                    margin: 1px 0;
                    padding: 0 30px;
                    text-align: center;
                    text-decoration: none;
                    text-shadow: 0 0 5px #444;
                }
            }
        }
        &.new{
            .new-overlay{
                display:block;
                top:40px;
            }
        }
        &.hot{
            .hot-overlay{
                .ribbon-mixin();
                background-color: #a00;

                .ribbon-text {
                    border: 1px solid #faa;
                    color: #fff;
                    display: block;
                    font-weight: 400;
                    margin: 1px 0;
                    padding: 0 37px;
                    text-align: center;
                    text-decoration: none;
                    text-shadow: 0 0 5px #444;
                    /* background: url(../img/hot200x200.png); */
                }
            }
        }
        &.promoted{
            img.game-thumbnail{
                width:260px;
                height:260px;
            }
            .name{
                font-size:18px;
            }
            &.premium{
                .premium-overlay{
                    /* background: red; */
                    display:block;
                    /* background: url(../img/premium200x200.png); */
                }
            }
            &.new{
                .new-overlay{
                    display:block;
                    /* background: url(../img/new200x200.png); */
                }
            }
            &.hot{
                .hot-overlay{
                    display:block;
                    .ribbon-text {
                        display: block;
                    }
                }
            }
        }
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes counting
{
    0%   {color: white;}
    50% {color: #ffd11e;}
    100%   {color: white;}
}
/* Standard syntax */
@keyframes counting
{
    0%   {color: white;}
    50% {color: #ffd11e;}
    100%   {color: white;}
}
