.header-top
    .logo(ng-click="goHome()", ng-cloak)
        img(ng-src="{{appLogo}}")
    .coins(ng-click="goHome('WIN_COINS')")
        .coin-container
            .top-text {{'COINS_COLLECTED' | translate }}
            .amount
                span.coin-img
                    img(src="./img/coins2.png")
                span.amount-text(ng-if="!userData.user") {{10000 | number }}
                span.amount-text(ng-if="userData.user", aio-counter="{{userData.user.points}}")
    .rays-container(ng-style="{height: smallHeader ? 113 : 156}")
        #rays

    .corner-toolbox-icons
        img(ng-src="{{selectedNationality.flag}}", ng-mouseenter="showLanguageMenu()")
        .language-box(ng-cloak, ng-show='dropdownFlags', ng-mouseenter="keepLanguageMenu()", ng-mouseleave="showLanguageMenu()")
            ul
                li(ng-repeat="nationality in nationalities | filter: '!' + selectedNationality.language", ng-click="changeLanguage(nationality)")
                    img(ng-src="{{nationality.flag}}")
                    span {{nationality.language}}
        span.glyphicon.glyphicon-lock(ng-click="goHome('privacy')")
        span.glyphicon.glyphicon-envelope(ng-click="goHome('contact')")

    .search-box(ng-cloak)
        .input-group
            input.form-control(type="text", placeholder="{{'FIND_GAME'| translate}}", ng-model="gameSearch",
            typeahead-template-url="searchTypeaheadTemplate.html",
            typeahead-on-select="runGame(gameSearch)",
            typeahead="game as game.name for game in allGames | filter:{name:$viewValue} | limitTo:8")
            .input-group-btn
                button.btn.btn-primary(type="button")
                    span.glyphicon.glyphicon-search
    .user-info(ng-cloak)
        span.details
            .username(ng-if="userData.user.info") {{userData.user.info.displayName || userData.user.info.name}}
            .username.connect(ng-if="!userData.user.info", ng-click="login()") {{'CONNECT' | translate}}
            .action(ng-click="logout()", ng-if="userData.user.info") {{'SIGNOUT' | translate}}
        span.profile-pic
            img(ng-if="userData.user.info", ng-src="{{userData.user.info.profilePic}}")
            img.connect(ng-if="!userData.user.info", src="./img/anonymous.png", ng-click="login()")

    //- .cup(ng-if="userData.user.info")
    //- button.btn.btn-link(ng-click="openMainOverlay('LEADERBOARD')")
        //- img(src="./img/cup.png")

    .toolbar-icons
        span.addthis_toolbox.addthis_default_style
            a.addthis_button_facebook_like(fb:like:layout="button_count", addthis:url="https://www.facebook.com/pages/Mojo-Gamescom/452845291514515")
            //- a.addthis_button_twitter_follow_native(tf:screen_name="DaRealMojoGames", tf:show-screen-name="false", tf:show-count="false")
            a.addthis_button_google_plusone(g:plusone:href="https://plus.google.com/u/0/105972966277627450580/about", g:plusone:size="medium")

.header-bottom
    .banner(ng-class="{'in-game': !fixedHeader}")
        .bg-banner
            div {{randTopId}}
            div(ng-if="appName==='Gamestab'")
                .bg-ad
                    include leaderboard-gamestab
            div(ng-if='appName==="Mojo Games"')
                include leaderboard-mojogames
