iframe#ae45f6f7(name='ae45f6f7', src='http://ads.ad4game.com/www/delivery/afr.php?zoneid=39440&cb={{randTopId}}', framespacing='0', frameborder='no', scrolling='no', width='728', height='90')
    a(href='http://ads.ad4game.com/www/delivery/dck.php?n=af1fdb1c&cb={{randTopId}}', target='_blank')
        img(src='http://ads.ad4game.com/www/delivery/avw.php?zoneid=39440&cb={{randTopId}}&n=af1fdb1c', border='0', alt='')
