iframe#a5464d52(name='a5464d52', src='http://ads.ad4game.com/www/delivery/afr.php?zoneid=39438&cb={{randId}}', framespacing='0', frameborder='no', scrolling='no', width='160', height='600')
    a(href='http://ads.ad4game.com/www/delivery/dck.php?n=a1a724da&cb={{randId}}', target='_blank')
        img(src='http://ads.ad4game.com/www/delivery/avw.php?zoneid=39438&cb={{randId}}&n=a1a724da', border='0', alt='')
