.game-wrapper
    .game-embed-container
        .main
            .left
                .header
                .more-games-left
                    .game(ng-repeat="game in evenMoreGames | limitTo:5")
                        a(ui-sref="game({gameID: game.id})")
                            img.game-thumbnail(ng-src="{{game.thumbnails[0].url}}")
                            div.name
                                div(ng-bind="game.name")
            .middle
                .header
                    h1.game-name(ng-bind="game.name")
                    .game-rating
                        .rating-box
                            rating.rating-stars(title="{{'Rating: ' + getGameRating(game)}}", value="getGameRating(game)", max="5", readonly="true", state-on="'star-up glyphicon-star'", state-off="'star-down glyphicon-star-empty'")
                            .thumbs-down-container(title="Rate game up", ng-click="rateGame(game, 'down')")
                                .icon.glyphicon.glyphicon-thumbs-down
                            .thumbs-up-container(title="Rate game down", ng-click="rateGame(game, 'up')")
                                .icon.glyphicon.glyphicon-thumbs-up
                .embedding
                    .loader(ng-show="gameLoading")
                        img(src='./img/ajax-loader-large.gif', width=100, height=100, style="margin: 250px auto; display:block;")

                    //swf game
                    .include(ng-style="{zoom: getGameZoom(game)}")
                        div(id='flashGame', ng-show="!gameLoading && game && (game.source === 'swf' || game.source === 'kongregate')", style="background:black")
                    //iframe game
                    .include(ng-include="'embed-' + game.source + '.html'", ng-show="!gameLoading && game && game.source !== 'swf' && game.source !== 'kongregate'")

                .game-description(ng-bind-html="game.description", ng-style='{width:getGameZoom(game) * game.width}')
            .right
                .header
                .right-ad-unit
                    img(src="./img/160x600.png", width="160", height="600", alt="Your ad here placeholder")
        .bottom
            .more-games-bottom
                .game(ng-repeat="game in moreGames")
                    a(ui-sref="game({gameID: game.id})")
                        img.game-thumbnail(ng-src="{{game.thumbnails[0].url}}")
                        div.name
                            div(ng-bind="game.name")

.modal-overlay-fade.premium-game-modal(ng-if="overlayUnlockGame")
    .modal-dialog
        .close-button(ng-click="goHome()")
        h1 Unlock Premium Game

        .game-to-unlock
            h2.game-name(ng-bind="lockedGame.name")
            .game-thumbnail
                img(ng-src="{{lockedGame.thumbnails[0].url}}")

        .price-wrapper
            img(src="./img/coins2.png")
            span.price {{lockedGame.price | number}} COINS

        .bottom-action
            //- unlock game
            div(ng-if="userData.user.points >= lockedGame.price")
                button(type="button", class="btn btn-success", ng-click="unlockGame(lockedGame)") Unlock
            //- user isn't connected
            div(ng-if="!userData.user")
                h4 Please connect in order to unlock this game
                button(type="button", class="btn btn-success", ng-click="login()") Connect
            //- user doesn't have enough credits to unlock game
            div(ng-if="userData.user.points < lockedGame.price")
                h4 You don't have enough coins
                button(type="button", class="btn btn-success", ng-click="goHome('WIN_COINS')") Win Coins
