doctype html
html
    head
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='google', content='notranslate')

        link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400', rel='stylesheet', type='text/css')
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        //- bizigames inline install
        //- link(href='https://chrome.google.com/webstore/detail/heplncibihkggagnaaoigdhkgjmmllme', rel='chrome-webstore-item')
        //- gamestab inline install
        link(href='https://chrome.google.com/webstore/detail/amlhfkalaoikfbpoolhpdhignhjhlhko', rel='chrome-webstore-item')

        //- load vendor
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')
        script(src='./js/vendor/angular-ui-router.js')
        script(src='./js/vendor/angular-sanitize.js')
        script(src='./js/vendor/async.js')
        script(src='./js/vendor/masonry.pkgd.min.js')
        script(src='./js/imageLoaded.js')
        script(src='./js/vendor/angular-masonry.js')
        script(src='./js/vendor/firebase.js')
        script(src='./js/vendor/firebase-simple-login.js')
        script(src='./js/vendor/angularjs.media.directives.js')
        script(src='./js/vendor/ng-infinite-scroll.min.js')
        script(src='./js/vendor/underscore-min.js')

        <!-- build:js(src) ./js/app.min.js -->
        //- load commons
        script(src='./js/common/analytics.js')
        script(src='./js/settings/constants.js')
        script(src='./js/main/counter.js')
        script(src='./js/main/main.js')
        script(src='./js/main/leaderboard.js')
        script(src='./js/main/games.js')
        script(src='./js/user/win.js')
        script(src='./js/user/firebaseService.js')
        script(src='./js/user/facebookService.js')
        script(src='./js/user/chromeService.js')
        script(src='./js/config/configModule.js')
        script(src='./js/common/common.js')
        script(src='./js/app.js')
        <!-- endbuild -->

        title GamesPortal
        //----------------
    body(ng-controller="MainCtrl")
    header
        div.logo(ng-click="goHome()")
            img(src="./img/bizibizi.logo.png")
        //- user isn't logged in.
        .coins(ng-click="goHome('WIN_COINS')")
            .coin-container
                .top-text coins collected
                .amount
                    span.coin-img
                        img(src="./img/coins2.png")
                    span.amount-text(ng-if="!userData.user") {{10000 | number:0 }}
                    span.amount-text(ng-if="userData.user", aio-counter="{{userData.user.points}}")

        .user-info
            span.details
                .username(ng-if="userData.user.info") {{userData.user.info.displayName || userData.user.info.name}}
                .username.connect(ng-if="!userData.user.info", ng-click="login()") Connect
                .action(ng-click="logout()", ng-if="userData.user.info") Sign Out
            span.profile-pic
                img(ng-if="userData.user.info", ng-src="{{userData.user.info.profilePic}}")
                //- dummy picture
                img.connect(ng-if="!userData.user.info", src="./img/anonymous.png", ng-click="login()")

        //div.cup(ng-show="userData.user")
        //    a.cup-img(href="#", ng-click="openMainOverlay('LEADERBOARD')")
        //        img(src="./img/cup.png")
    .main(ui-view)

    .modal-overlay-fade.win-coins(ng-if="overlayID=='WIN_COINS'", ng-controller="WinCtrl", overlay="'WIN_COINS'")
        .modal-dialog
            h1 Win Coins!
            div
                button.btn.btn-success(ng-click="inviteFBFriends()") Invite Friends = 50000
            div
                button.btn.btn-success(ng-click="installChromeApp()") Add BiziGames to Chrome = 100000
            div
                button.btn.btn-success Play a Game = 10000
    .modal-overlay-fade.leaderboard(ng-if="overlayID=='LEADERBOARD'", ng-controller="LeaderboardCtrl", overlay="'WIN_COINS'")
        .modal-dialog
            h1 Leaderboard
            table
                tr(ng-repeat="user in leaderboardData.value")
                    td.profile-pic
                        img.profile-pic(ng-src="{{user.profilePic}}")
                    td.name {{user.displayName}}
                    td.points {{user.points | number:0}}
