doctype html
html
    head
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='google', content='notranslate')

        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400', rel='stylesheet', type='text/css')
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        link(href='https://chrome.google.com/webstore/detail/heplncibihkggagnaaoigdhkgjmmllme', rel='chrome-webstore-item')

        //- load vendor
        script(src='./js/vendor/jquery.min.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
        script(src='./js/vendor/angular.min.js')
        script(src='./js/vendor/angular-ui-router.js')
        script(src='./js/vendor/angular-sanitize.js')
        script(src='./js/vendor/async.js')
        script(src='./js/vendor/masonry.pkgd.min.js')
        script(src='./js/imageLoaded.js')
        script(src='./js/vendor/angular-masonry.js')
        script(src='./js/vendor/firebase.js')
        script(src='./js/vendor/firebase-simple-login.js')
        script(src='./js/vendor/angularjs.media.directives.js')
        script(src='./js/vendor/ng-infinite-scroll.min.js')






        script(src='./js/vendor/underscore-min.js')


        <!-- build:js(src) ./js/app.min.js -->
        //- load commons
        script(src='./js/common/analytics.js')
        script(src='./js/settings/constants.js')
        script(src='./js/main/counter.js')
        script(src='./js/main/main.js')
        script(src='./js/main/leaderboard.js')
        script(src='./js/main/games.js')
        script(src='./js/user/win.js')
        script(src='./js/user/firebaseService.js')
        script(src='./js/user/facebookService.js')
        script(src='./js/user/chromeService.js')
        script(src='./js/config/configModule.js')
        script(src='./js/common/common.js')
        script(src='./js/app.js')
        <!-- endbuild -->


        title GamesPortal
        //----------------
    body(ng-controller="MainCtrl")
    header
        div.logo(ng-click="goHome()")
            img(src="./img/bizibizi.logo.png")
        div.coins
        //div.user-info-guest(ng-show="userData && !userData.user")
        //    span.glyphicon.glyphicon-user
        //    span.guest Guest
        //div.user-info(ng-show="userData.user")
        //    span.profile-pic
        //        img(ng-src="{{userData.user.info.profilePic}}")
        //    span.name {{userData.user.info.displayName || userData.user.info.name}}
        //div.coins(ng-show="userData && userData.user")
        //    span.coin-img
        //        img(src="./img/coins.png")
        //    span.amount(aio-counter="{{userData.user.points}}")
        //div.coins(ng-show="userData && !userData.user")
        //    span.coin-img
        //        img(src="./img/coins.png")
        //    span.amount {{10000}}
        //div.cup(ng-show="userData.user")
        //    a.cup-img(href="#", ng-click="openMainOverlay('LEADERBOARD')")
        //        img(src="./img/cup.png")
        //div.join(ng-show="userData && !userData.user")
        //    button(type="button", class="btn btn-success", ng-click="login()") CONNECT
        //span.right-part.pull-right
        //    div.logout(ng-show="userData.user")
        //        button(type="button", class="btn btn-success", ng-click="logout()") LOGOUT
    .main(ui-view)



    .modal-overlay-fade.win-coins(ng-if="overlayID=='WIN_COINS'", ng-controller="WinCtrl", overlay="'WIN_COINS'")
        .modal-dialog
            h1 Win Coins!
            div
                button.btn.btn-success(ng-click="inviteFBFriends()") Invite Friends = 50000
            div
                button.btn.btn-success(ng-click="installChromeApp()") Add BiziGames to Chrome = 100000
            div
                button.btn.btn-success Play a Game = 10000
    .modal-overlay-fade.leaderboard(ng-if="overlayID=='LEADERBOARD'", ng-controller="LeaderboardCtrl", overlay="'WIN_COINS'")
        .modal-dialog
            h1 Leaderboard
            table
                tr(ng-repeat="user in leaderboardData.value")
                    td.profile-pic
                        img.profile-pic(ng-src="{{user.profilePic}}")
                    td.name {{user.displayName}}
                    td.points {{user.points | number}}


