doctype html
html
    head
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='google', content='notranslate')

        link(rel="shortcut icon", href="./img/favicon.ico")

        //link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400', rel='stylesheet', type='text/css')
        link(href='//fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        //- bizigames inline install
        //- link(href='https://chrome.google.com/webstore/detail/heplncibihkggagnaaoigdhkgjmmllme', rel='chrome-webstore-item')
        //- gamestab inline install
        link(href='https://chrome.google.com/webstore/detail/amlhfkalaoikfbpoolhpdhignhjhlhko', rel='chrome-webstore-item')

        //- load vendor
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')
        script(src='./js/vendor/angular-ui-router.js')
        script(src='./js/vendor/angular-sanitize.js')
        script(src='./js/vendor/async.js')
        script(src='./js/vendor/masonry.pkgd.min.js')
        script(src='./js/imageLoaded.js')
        script(src='./js/vendor/angular-masonry.js')
        script(src='./js/vendor/firebase.js')
        script(src='./js/vendor/firebase-simple-login.js')
        script(src='./js/vendor/angularjs.media.directives.js')
        script(src='./js/vendor/ng-infinite-scroll.min.js')
        script(src='./js/vendor/underscore-min.js')

        <!-- build:js(src) ./js/app.min.js -->
        //- load commons
        script(src='./js/common/analytics.js')
        script(src='./js/common/common.js')
        script(src='./js/config/configModule.js')
        script(src='./js/main/counter.js')
        script(src='./js/main/games.js')
        script(src='./js/main/leaderboard.js')
        script(src='./js/main/main.js')
        script(src='./js/settings/constants.js')
        script(src='./js/user/chromeService.js')
        script(src='./js/user/facebookService.js')
        script(src='./js/user/firebaseService.js')
        script(src='./js/user/win.js')
        script(src='./js/app.js')
        script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-534644e35a88a9ba')
        <!-- endbuild -->

        <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
        script(type='text/javascript') addthis.layers({theme : 'transparent', share : {services: 'facebook,twitter,google_plusone_share,email', position : 'left'}});

        title GamesPortal
        //----------------
    body(ng-controller="MainCtrl")
    #fb-root(style="display:none;visibility:hidden;")

    header
        div.logo(ng-click="goHome()")
            img(src="./img/logo.png")
        .coins(ng-click="goHome('WIN_COINS')")
            .coin-container
                .top-text coins collected
                .amount
                    span.coin-img
                        img(src="./img/coins2.png")
                    span.amount-text(ng-if="!userData.user") {{10000 | number:0 }}
                    span.amount-text(ng-if="userData.user", aio-counter="{{userData.user.points}}")
        #rays

        .user-info
            span.details
                .username(ng-if="userData.user.info") {{userData.user.info.displayName || userData.user.info.name}}
                .username.connect(ng-if="!userData.user.info", ng-click="login()") Connect
                .action(ng-click="logout()", ng-if="userData.user.info") Sign Out
            span.profile-pic
                img(ng-if="userData.user.info", ng-src="{{userData.user.info.profilePic}}")
                //- dummy picture
                img.connect(ng-if="!userData.user.info", src="./img/anonymous.png", ng-click="login()")

        .top-right-icons
            //- div(style="width:90px;height:21px;")
                //- iframe(src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fplay.gamestab.me&width=100&layout=button_count&action=like&show_faces=false&share=false&height=21&appId=24751036751", scrolling="no", frameborder="0", style="border:none; overflow:hidden; width:100px; height:21px;", allowTransparency="true")
            a(href="#", ng-click="goHome('contact')")
                img(src="./img/envelope.png", alt="contact us link")
            a(href="#", ng-click="goHome('privacy')")
                img(src="./img/shield_grey.png", alt="privacy link")
        //div.cup(ng-show="userData.user")
        //    a.cup-img(href="#", ng-click="openMainOverlay('LEADERBOARD')")
        //        img(src="./img/cup.png")
    .banner
        .bg-banner
            .bg-ad
    .main(ui-view)
    .modal-overlay-fade.win-coins(ng-if="overlayID=='WIN_COINS'", ng-controller="WinCtrl", overlay="'WIN_COINS'")
        .modal-dialog
            .close-button(ng-click="closeOverlay('WIN_COINS')")
            h1 Win Free Coins!
            .win-coins-top-offer
                .connect-with-action
                    button.join-now(ng-click="connectNow()") Join Now
                .connect-with-offer
                    .top-text Sign In To Get
                    span.coin-img
                        img(src="./img/smaller_coins.png")
                    span.coin-award {{ points.fbConnect | number}}
            ul.offers
                li.offer-box
                    .top-offer Invite Friends
                    .win-size Get {{ points.fbInvite | number}}
                    span.coin-img
                        img(src="./img/smaller_coins.png")
                    .action
                        button.btn.btn-success(ng-click="inviteFBFriends()") Get Coins
                li.offer-box
                    .top-offer Play On Chrome
                    .win-size Get {{ points.chromeInstall | number}}
                    span.coin-img
                        img(src="./img/smaller_coins.png")
                    .action
                        button.btn.btn-success(ng-click="installChromeApp()") Get Coins
                li.offer-box
                    .top-offer Play Another Game
                    .win-size Get {{ points.newGame | number }}
                    span.coin-img
                        img(src="./img/smaller_coins.png")
                    .action
                        button.btn.btn-success(ng-click="installChromeApp()") Get Coins
    .modal-overlay-fade.leaderboard(ng-if="overlayID==='LEADERBOARD'", ng-controller="LeaderboardCtrl", overlay="'WIN_COINS'")
        .modal-dialog
            h1 Leaderboard
            table
                tr(ng-repeat="user in leaderboardData.value")
                    td.profile-pic
                        img.profile-pic(ng-src="{{user.profilePic}}")
                    td.name {{user.displayName}}
                    td.points {{user.points | number:0}}
