.masonry-container(masonry="masonryOptions", load-images="false", infinite-scroll="loadMore()")
    .div(class="masonry-brick", ng-repeat="game in games", ng-class="{premium : (game.premium), new : (game.new), hot : (game.hot), promoted : (game.promoted && game.largeThumbnail)}")
        a(ng-click="runGame(game, $event)")
            .badge-overlay.new-overlay New
            .badge-overlay.hot-overlay Hot
            .badge-overlay.premium-overlay
                .badge-text Premium
            img(class="game-thumbnail", ng-src="{{game.largeThumbnail.url || game.thumbnails[0].url}}")
            div.name
                div {{game.name}} {{game.priority}} {{game.premium}}
